In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("C:\\Users\\juan\\Videos\\Data Science\\Datasets\\titanic.csv")

In [34]:
df1 = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns')
df1.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [35]:
inputs = df1.drop('Survived',axis = 'columns')
targets = df1.Survived

In [42]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,targets,test_size=0.2)

In [27]:
inputs_n = inputs.drop(['Pclass','Sex','Age','Fare'], axis='columns')
inputs_n.head()

   n_Pclass  n_Sex  n_Age  n_Fare
0         2      1     28      18
1         0      0     51     207
2         2      0     34      41
3         0      0     47     189
4         2      1     47      43

In [31]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [45]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [48]:
model.score(x_test,y_test)

0.7262569832402235